*{
    font-family: sans-serif;
}

#cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.productoCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
}

.productoCard:hover {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.12);
    transition: .3s;
    transform: scale(1.01);
}

.productoCard:not(:hover) {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
    transition: .3s;
}

.productoImagen {
    width: 300px;
    border-radius: 10px;
}

.productoTitulo {
    font-weight: 600;
    font-size: 30px;
}

.productoDetalle {
    color: gray;
}

.botonCarrito {
    width: auto;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(65, 187, 40);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.listaFiltro {
    display: flex;
    gap: 20px;
    list-style: none;
}

.itemsFiltro {
    cursor: pointer;
}

.itemsFiltro:hover {
    font-weight: bold;
}